<template>
    <div>
        <div class="drag flex-container">
			<div>
				<h2>Destination</h2>
				<draggable v-model="list2" class="dragArea" :options="{group:'people'}">
					<div v-if="list2.length === 0" class="empty-drag-area">
						<h4 class="text4" > Drag the user activity here</h4>
					</div>
					<div v-else v-for="(element, index) in list2" :key="index">
						<div class="destination-item">
							<div class="text">
							{{element.title}} 
							</div>
							<button class="close" @click="remove(index)">X</button> <br>
							
						
							<div v-if="element.input4">
								<h5 class="conversion" v-for="(fonth1,index) in element.input4.h4" value="cws"  :key="index">{{fonth1}}</h5>
							</div>
							
							<select class="text drpdown">
									<option class="" v-for="(selectOption, index) in element.input.options" value="something" :key="index">{{selectOption}}</option>
								</select>
								
								
								<div v-if="element.input2">
									<input  class="text-box" v-for="(textmessage,index) in element.input2.message" value=" " :key="index">{{textmessage}}
								</div >
								
								<div v-if="element.input5">
								<select class="text drpdown_browse">
									<option class="" v-for="(selectOption, index) in element.input5.options" value="something" :key="index">{{selectOption}}</option>
								</select>
								</div>
								
							<p class="condition"><span class="glyphicon">&#x2b;
                 					 Add Conditions</span>
                					</p>
						
							<!-- </div> -->
						</div>
					</div>
				</draggable>
			</div>

			<div>
			<div class="source-design">
				<h2 class="source-text">Recently specified conditions &#9661;</h2>
			</div>
				<draggable v-model="list" class="dragArea" :options="{group:{ name:'people',  pull:'clone', put:false }}">
					<div v-for="(element, index) in list" :key="index">
						<div class="source-item" >
							<span style="float:left">&#43;</span>
							<span class="dot"></span>            
							{{element.name}}

						</div>

					</div>
				</draggable>
			</div>
        </div>
    </div>
</template>
<style>

	.dot {
  height: 11px;
  width: 11px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  float: right;
}
	
	.flex-container {
		display: flex;
		justify-content: space-between;
	}

	.flex-container > div {
		flex: 1;

	}
	.destination-item {
		border: 1px solid black;
		padding: 40px;
		margin: 5px;
		border-radius: 25px;
	}
	.source-item {
		border: 1px solid black;
		padding: 20px;
		margin: 10px;
		border-radius: 5px;
	}
	.empty-drag-area {
		height: 300px;
		width: 650px;
		border: 3px solid black;
		border-style: dotted;
		border-radius: 20px;
		
	}
	.close{
		float: right;
	}
	.text{
		float: left;
		
	}
	.drpdown{
		    padding: 10px;
			border-radius: 10px;
    		width: 195px;
			margin-bottom: inherit;
	}
	.drpdown_browse{
		    padding: 10px;
			border-radius: 10px;
    		width: 125px;
			margin-bottom: inherit;
			float: right;
			margin-top: -38px;
		    margin-right: 40px;
	}
	
	.condition{
		padding-right: 450px;
    	padding-top: 18px;
	}
	.text4{
		opacity: 0.5;
		padding-top:115px
	}
	.source-text{
		border: 1px solid black;
		padding: 8px;
		margin: 5px;
		border-radius: 5px;
		width: 300px;
		font-size: larger;

	}
	.source-design{
		padding-left: 132px;
    	margin: 43px;
    	left: 105px;
	}

	.conversion{
		text-align: justify;
		opacity: 0.5;
	}
	.text-box{
		padding: 8px;
    margin-right: 45px;
	border-radius:13px; 
	margin-left: -100px
	}
	

</style>

<script>
import HelloWorld from '@/components/HelloWorld.vue'
import draggable from 'vuedraggable'

export default {
    name: 'home',
    data: function () {
        return {
            list: [
				{

					name: "Inflow Source",
					title: 'Inflow Source',
					
					input: {
						type: "select",
						options: [
							"Choose inflow route", "Specified from referre" ,"Specified from inflow parameters ","Inflow from spontaneous search", "Inflow from advertising"
						]
					}
				},
				
				
				{
					name: "Browse a page in the site",
					title: 'Browse a page in the site',
					input: {
						type: "select",
						options: [
							"In-site URL", "Specified from referre" ,"Specified from inflow parameters ","Inflow from spontaneous search", "Inflow from advertising"
						]
					},
					input2:{
						type: "text",
						message:[
							"hi"
						]
					},
				input5: {
						type: "select",
						options: [
							"Partial Match", "Specified from referre" ,"Specified from inflow parameters ","Inflow from spontaneous search", "Inflow from advertising"
						]
					}
				},


				{
					name: "Conversion",
					title: 'Conversion',
					
					input:{
						type: "select",
						options:[
							"Wa", "Japan" ,"Tokyo","Osaka"
						]
					},
					input4:{
						
						type: "font",
						h4:[
							"Conversion matches"
						]
					}
					
					
				},
			],
            list2: []
        }
    },
    methods: {
        add: function () {
            this.list.push({
				name: 'Juan'
            });
        },
        replace: function () {
            this.list = [{
                name: 'Edgard'
            }]
		},
		remove: function(index){
       		this.list2.splice(index, 1);
   		}
    },
    components: {
        HelloWorld,
        draggable,
    }
}
</script>
